@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>
@using DotNetNuke.Entities.Users
@using NBrightDNN

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")


<!-- fields required to send required ajax cart to server -->
<span id="nbs_categoryadminsearch">
    <input id="lang" type="hidden" value="@Model.Lang" />
    <input id="catid" type="hidden" value="0" />
    <input id="returncatid" type="hidden" value="0" />
    <input id='currentlang' type='hidden' value='@Model.Lang' />
    <input id="razortemplate" type="hidden" value="" />
    <input id="themefolder" type="hidden" value="config" />
    <input id="selectedcatid" type="hidden" value="" />
    <input id="movetocatid" type="hidden" value="" />
    <input id="movecatid" type="hidden" value="" />
    <input id="imguploadlist" type="hidden" value="" />
    <input id="searchtext" type="hidden" value="" />
    <input id="searchcategory" type="hidden" value="" />
    <input id="pagesize" type="hidden" value="20" />
    <input id="pagenumber" type="hidden" value="1" />
    <input id="selectproductid" type="hidden" value="" />    
    <input id="cascade" type="hidden" value="False" />
    <input id="orderby" type="hidden" value="{bycategoryproduct}" />
    <input id="newcatid" type="hidden" value="" />
    <input id="selecttaxrate" type="hidden" value="" />           
</span>


<div id="loader" class="processing" style="display:none;">@ResourceKey("General.ProcessingDiv")</div>

<div id="pageactionssource">
    <!-- Page actions are moved into header bar - also exist at page bottom-->
    <div class="col-xs-9 col-sm-9">
        <a href="#" class="show-sidebar">
            <i class="fa fa-bars"></i>
        </a>
        <div class="actionbuttonwrapper">
            <a id="categoryAdmin_cmdAddNew" class="btn btn-primary " href="#">@ResourceKey("General.cmdAddButton")</a>
            <a id="categoryAdmin_cmdSaveList" class="btn btn-primary " href="#">@ResourceKey("General.cmdSaveButton")</a>
            <a id="categoryAdmin_cmdSaveExit" style="display: none;" class="btn btn-primary " href="#">@ResourceKey("General.cmdSaveExitButton")</a>
            <a id="categoryAdmin_cmdSave" style="display: none;" class="btn btn-primary " href="#">@ResourceKey("General.cmdSaveButton")</a>
            <a id="categoryAdmin_cmdDelete" style="display: none;" class="btn btn-danger " href="#">@ResourceKey("General.cmdDeleteButton")</a>
            <a id="categoryAdmin_cmdReturn" style="display: none;" class="btn btn-default " href="#">@ResourceKey("General.cmdReturnButton")</a>
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 top-panel-right">
        @EditLangaugeButton()
    </div>
</div>

<div id="datadisplay"></div>

