@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>
@using System.Linq
@using NBrightDNN

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")


@{
    var info = (NBrightInfo)Model.List.First();
    var flaglang = info.GetXmlProperty("genxml/editlang");
    if (flaglang == "")
    {
        flaglang = "none";
    }

}

<div id="loader" class="processing" style="display:none;">@ResourceKey("General.ProcessingDiv")</div>

<div id="pageactionssource">
    <!-- Page actions are moved into header bar - also exist at page bottom-->
    <div class="col-xs-9 col-sm-9">
        <a href="#" class="show-sidebar">
            <i class="fa fa-bars"></i>
        </a>
        <div class="actionbuttonwrapper">
            <a id="OrderAdmin_cmdSave" style="display: none;" class="btn btn-primary primarybutton Settings_cmdSave " href="#">@ResourceKey("General.cmdSaveButton")</a>
            <a id="OrderAdmin_cmdCancel" style="display: none;" class="btn btn-default Settings_cmdCancel " href="#">@ResourceKey("General.cmdCancelButton")</a>
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 top-panel-right">
        @EditCultureSelect("editlanguage","")
    </div>
</div>

<input id="lang" type="hidden" value="@info.Lang"></input>
<input id="editlang" type="hidden" value="@info.GetXmlProperty("genxml/editlang")" />
<input id="backofficetabid" type="hidden" value=""></input>

<style>
  #countrylist { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #countrylist li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
  html>body #countrylist li { height: 1.5em; line-height: 1.2em; }
  .ui-state-highlight { height: 1.5em; line-height: 1.2em; }
  </style>


<script type="text/javascript">
    $(document).ready(function () {
        $('.box-content').toggle(); // Initially hide all panels - Doesn't hide Products in cat - need to fox
        //$('.merchantdetails div.box-content').toggle(); // Then open specific ones
        $('.pageactions div.box-content').toggle();

        // move common countries
        var countries = ["AT", "BE", "BG", "BY", "CH", "CY", "CZ", "DE", "DK", "ES", "FI", "FR", "GI", "GR", "HU", "IE", "IT", "LU", "NL", "NO", "PL", "PT", "RO", "SE", "TR", "GB", "YU", "US", "CA"];
        for (i = 0; i < countries.length; i++) {
            $('.eurocountries').append($('input[value="Country:' + countries[i] + '"]'));
            var labselector = 'label[for="' + $('input[value="Country:' + countries[i] + '"]').attr('id') + '"]';
            $('.eurocountries').append($(labselector));
            $('.eurocountries').append('<br/>');
        }

        $('.checkAll').click(function() {
            if ($(this).is(":checked")) {
                $('input[value*="Country:"]:checkbox').prop('checked', true);
            } else {
                $('input[value*="Country:"]:checkbox').prop('checked', false);
            }
        });

    });

    $(function () {
        $("#countrylist").sortable({ placeholder: "ui-state-highlight", update: function(event, ui) {
            savecountrysortorder();
        } });
        $("#countrylist").disableSelection();
        $("#countrylist").on("sortupdate", function (event, ui) { });
    });

    function savecountrysortorder() {
        var l = '';
        var listItems = $("#countrylist li");
        listItems.each(function (idx) {
            l += $(this).attr('value') + ';';
        });
        $('input[id*="_countrysortorder_"]').val(l);
    };
</script>

<br />

<div class="row merchantdetails">
    	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-search"></i><span>@ResourceKey("Settings.merchantdetails")</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link"><i class="fa fa-chevron-down"></i>
					</a><a class="expand-link"><i class="fa fa-expand"></i></a>
					<a class="close-link"><i class="fa fa-times"></i></a></div>
				<div class="no-move">
				</div>
			</div>
			<div class="box-content">
				<div class="form-horizontal dnnForm">
					<p class="page-header">@ResourceKey("Settings.emailaddresses")</p>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.adminemail")</label>
					    <div class="col-sm-5">
					        @NBrightTextBox(info, "genxml/textbox/adminemail"," title='" + ResourceKey("Settings.adminemail","","Help") + "'")
					    </div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.manageremail")</label>
						<div class="col-sm-5">
                            @NBrightTextBox(info, "genxml/textbox/manageremail", " title='" + ResourceKey("Settings.manageremail", "", "Help") + "'")
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.supportemail")</label>
						<div class="col-sm-5">
                            @NBrightTextBox(info, "genxml/textbox/supportemail", " title='" + ResourceKey("Settings.supportemail", "", "Help") + "'")
						</div>
					</div>
				    <div class="form-group">
				        <label class="col-sm-3 control-label">@ResourceKey("Settings.salesemail")</label>
				        <div class="col-sm-5">
                            @NBrightTextBox(info, "genxml/textbox/salesemail", " title='" + ResourceKey("Settings.salesemail", "", "Help") + "'")
				        </div>
				    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">@ResourceKey("Settings.websiteurl")</label>
                        <div class="col-sm-5">
                            @NBrightTextBox(info, "genxml/textbox/websiteurl")
                        </div>
                    </div>
				    <p class="page-header">@ResourceKey("Settings.merchantaddress")</p>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.merchantattention")</label>
						<div class="col-sm-5">
                            @NBrightTextBox(info, "genxml/textbox/storeattention", "")
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("General.lblCompany")</label>
						<div class="col-sm-5">
                            @NBrightTextBox(info, "genxml/textbox/storecompany")
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.merchantpostbox")</label>
						<div class="col-sm-5">
                            @NBrightTextBox(info, "genxml/textbox/storepostbox")
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("General.lblAddress1")</label>
						<div class="col-sm-5">
							@NBrightTextBox(info, "genxml/textbox/storeaddressline1")
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("General.lblAddress2")</label>
						<div class="col-sm-5">
							@NBrightTextBox(info, "genxml/textbox/storeaddressline2")
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("General.lblCity")</label>
						<div class="col-sm-5">
							@NBrightTextBox(info, "genxml/textbox/storecity")
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("General.lblRegion")</label>
						<div class="col-sm-5">
							@NBrightTextBox(info, "genxml/textbox/storeregion")
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("General.lblPostCode")</label>
						<div class="col-sm-5">
							@NBrightTextBox(info, "genxml/textbox/storepostcode")
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("General.lblCountry")</label>
						<div class="col-sm-5">
						    [<tag id="storecountry" cssclass="form-control" type="countrydropdown"/>]
                            @CountrySelectList(info, "genxml/dropdownlist/storecountry")
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("General.lblPhone")</label>
						<div class="col-sm-5">
							@NBrightTextBox(info, "genxml/textbox/storephone")
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("General.TaxNumber")</label>
						<div class="col-sm-5">
							@NBrightTextBox(info, "genxml/textbox/storetaxnumber")
						</div>
					</div>
					<p class="page-header">@ResourceKey("Settings.bankingdetails")</p>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.bank")</label>
						<div class="col-sm-5">
							@NBrightTextBox(info, "genxml/textbox/bankname")
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.accountname")</label>
						<div class="col-sm-5">
							@NBrightTextBox(info, "genxml/textbox/bankaccountname")
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.accountnumber")</label>
						<div class="col-sm-5">
							@NBrightTextBox(info, "genxml/textbox/bankaccountnumber")
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.bankinginstructions")</label>[<tag type="editflag" />]
						<div class="col-sm-5">
							[<tag id="bankinginstructions" cssclass="form-control" type="textbox" height="100" maxlength="200" textmode="MultiLine" resourcekeysave="Notification.bankinginstructions" lang="{Settings:editlanguage}" />]
						</div>
					</div>
					<p class="page-header">@ResourceKey("Settings.emailbranding")</p>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.storename")</label>
						<div class="col-sm-5">
							@NBrightTextBox(info, "genxml/textbox/storename")
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.logoimage")</label>
					    <div class="col-sm-5">
					        [<tag id="emaillogo" type="fileupload" cssclass="form-control" textwidth="0" maxlength="50" separator=" " />] 
                			[<tag id="cmdUpload" type="linkbutton" cssclass="btn btn-default" resourcekey="General.cmdUploadFileButton" commandname="save" />] 
                            [<tag type="if" xpath="genxml/hidden/hidemaillogo" textvalue="" display="{OFF}" />] 
                    			[<tag id="cmdRemovelogo" type="linkbutton" cssclass="btn btn-danger" resourcekey="General.cmdRemoveButton" commandname="removelogo" />]
							<div class=""><br>
                            	[<tag type='imageof' xpath='genxml/hidden/emaillogourl' thumb="700" width="100%" />]
							</div>
					        [<tag type="endif" />]
					    </div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.emailmessage")</label>[<tag type="editflag" />]
						<div class="col-sm-5">
							[<tag id="emailmessage" cssclass="form-control" type="textbox" height="100" maxlength="200" textmode="MultiLine" resourcekeysave="Notification.emailmessage" lang="{Settings:editlanguage}" />]
						</div>
					</div>
					<p class="page-header">@ResourceKey("Settings.socialnetworking")</p>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.twitterpage")</label>
						<div class="col-sm-5">
							@NBrightTextBox(info, "genxml/textbox/twitterpage")
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.facebookpage")</label>
						<div class="col-sm-5">
							@NBrightTextBox(info, "genxml/textbox/facebookpage")
						</div>
					</div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">@ResourceKey("Settings.addthispubid")</label>
                        <div class="col-sm-5">
							@NBrightTextBox(info, "genxml/textbox/addthispubid")
                        </div>
                    </div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.sharingwidget")</label>
						<div class="col-sm-5">
							[<tag id="sharingwidget" cssclass="form-control" type="textbox" height="100" maxlength="1000" textmode="MultiLine" />]
						</div>
					</div>
					<p class="page-header">@ResourceKey("Settings.checkout")</p>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.storepickupmessage")</label>[<tag type="editflag" />]
						<div class="col-sm-5">
							[<tag id="pickupmessage" cssclass="form-control" type="textbox" height="100" maxlength="200" textmode="MultiLine" resourcekeysave="Notification.pickupmessage" lang="{Settings:editlanguage}" />]
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.successfulcheckoutmessage")</label>[<tag type="editflag" />]
						<div class="col-sm-5">
							[<tag id="checkoutsuccessmessage" cssclass="form-control" type="textbox" height="100" maxlength="200" textmode="MultiLine" resourcekeysave="Notification.checkoutsuccessmessage" lang="{Settings:editlanguage}" />]
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.failedcheckoutmessage")</label>[<tag type="editflag" />]
						<div class="col-sm-5">
							[<tag id="checkoutfailmessage" cssclass="form-control" type="textbox" height="100" maxlength="200" textmode="MultiLine" resourcekeysave="Notification.checkoutfailmessage" lang="{Settings:editlanguage}" />]
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12">
	    <div class="box">
	        <div class="box-header">
	            <div class="box-name">
	                <i class="fa fa-search"></i><span>@ResourceKey("Settings.folders")</span>
	            </div>
	            <div class="box-icons">
	                <a class="collapse-link"><i class="fa fa-chevron-down"></i>
	                </a><a class="expand-link"><i class="fa fa-expand"></i></a>
	                <a class="close-link"><i class="fa fa-times"></i></a></div>
	            <div class="no-move">
	            </div>
	        </div>
	        <div class="box-content">
	            <div class="form-horizontal dnnForm">
	                <div class="form-group">
	                    <label class="col-sm-3 control-label">@ResourceKey("Settings.folderimages")</label>
	                    <div class="col-sm-5">
						@NBrightTextBox(info, "genxml/textbox/folderimages","","NBStore\\images")
						</div>
	                </div>
	                <div class="form-group">
	                    <label class="col-sm-3 control-label">@ResourceKey("Settings.folderdocs")</label>
	                    <div class="col-sm-5">
						@NBrightTextBox(info, "genxml/textbox/folderdocs","","NBStore\\docs")
						</div>
	                </div>
	                <div class="form-group">
	                    <label class="col-sm-3 control-label">@ResourceKey("Settings.folderuploads")</label>
	                    <div class="col-sm-5">
						@NBrightTextBox(info, "genxml/textbox/folderuploads","","NBStore\\uploads")
						</div>
	                </div>
	                <div class="form-group">
	                    <label class="col-sm-3 control-label">@ResourceKey("Settings.folderclientuploads")</label>
	                    <div class="col-sm-5">
						@NBrightTextBox(info, "genxml/textbox/folderclientuploads","","NBStore\\clientuploads")
	                    </div>
	                </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">@ResourceKey("Settings.allowupload")</label>
                        <div class="col-sm-5">
                            <div class="dnnFormItem">
                                @CheckBox(info, "genxml/checkbox/allowupload","")
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">@ResourceKey("Settings.fileregexpr")</label>
                        <div class="col-sm-5">
                            @NBrightTextBox(info, "genxml/textbox/fileregexpr", "", "^.*\\.(txt|gif|jpe?g|jpg|pdf|doc|docx|xls|xlsx|zip)")
                        </div>
                    </div>

	            </div>
	        </div>
	    </div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div class="box-header">
				<div class="box-name">
					<i class="fa fa-search"></i><span>@ResourceKey("Settings.storeconfiguration")</span>
				</div>
				<div class="box-icons">
					<a class="collapse-link"><i class="fa fa-chevron-down"></i>
					</a><a class="expand-link"><i class="fa fa-expand"></i></a>
					<a class="close-link"><i class="fa fa-times"></i></a></div>
				<div class="no-move">
				</div>
			</div>
			<div class="box-content">
				<div class="form-horizontal dnnForm">
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.pagesize")</label>
						<div class="col-sm-2">
							@NBrightTextBox(info, "genxml/textbox/pagesize","","30")
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.productlisttab")</label>
						<div class="col-sm-5">
							[<tag id="productlisttab" cssclass="form-control" type="dropdownlist" datatabs="1" />]
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.productdetailtab")</label>
						<div class="col-sm-5">
							[<tag id="ddldetailtabid" cssclass="form-control" type="dropdownlist" datatabs="1" />]
						</div>
					</div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">@ResourceKey("Settings.productsearchtab")</label>
                        <div class="col-sm-5">
                            [<tag id="productsearchtab" cssclass="form-control" type="dropdownlist" datatabs="1" />]
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">@ResourceKey("Settings.productsearchmod")</label>
                        <div class="col-sm-5">
							@NBrightTextBox(info, "genxml/textbox/productsearchmod")
                        </div>
                    </div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.carttab")</label>
						<div class="col-sm-5">
							[<tag id="carttab" cssclass="form-control" type="dropdownlist" datatabs="1" />]
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.favoritestab")</label>
						<div class="col-sm-5">
							[<tag id="favoritestab" cssclass="form-control" type="dropdownlist" datatabs="1" />]
						</div>
						<div class="col-sm-2" style="padding:0px">
				            <div class="dnnFormItem">
								[<tag id="enablefavorites" type="checkbox" checked="False" />] @ResourceKey("Settings.Enabled")
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.paymenttab")</label>
						<div class="col-sm-5">
							[<tag id="paymenttab" cssclass="form-control" type="dropdownlist" datatabs="1" />]
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.backofficeexittab")</label>
						<div class="col-sm-5">
							[<tag id="exittab" cssclass="form-control" type="dropdownlist" datatabs="1" />]
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.ordermanagertab")</label>
						<div class="col-sm-5">
							[<tag id="ordermanagertab" cssclass="form-control" type="dropdownlist" datatabs="1" />]
						</div>
						<div class="col-sm-2" style="padding:0px">
						    <div class="dnnFormItem">
                                @CheckBox(info, "genxml/checkbox/enablemyorders", "") @ResourceKey("Settings.Enabled")
						    </div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.profiletab")</label>
						<div class="col-sm-5">
							[<tag id="profiletab" cssclass="form-control" type="dropdownlist" datatabs="1" />]
						</div>
						<div class="col-sm-2" style="padding:0px">
				            <div class="dnnFormItem">
								@CheckBox(info, "genxml/checkbox/enablemyprofile", "") @ResourceKey("Settings.Enabled")
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.addressestab")</label>
						<div class="col-sm-5">
							[<tag id="addressestab" cssclass="form-control" type="dropdownlist" datatabs="1" />]
						</div>
						<div class="col-sm-2" style="padding:0px">
				            <div class="dnnFormItem">
								@CheckBox(info, "genxml/checkbox/enablemyaddress", "") @ResourceKey("Settings.Enabled")
							</div>
						</div>
					</div>
				    <div class="form-group">
				        <label class="col-sm-3 control-label">@ResourceKey("Settings.minimumstocklevel")</label>
				        <div class="col-sm-2">
							@NBrightTextBox(info, "genxml/textbox/minimumstocklevel","","0")
				        </div>
				    </div>
    			    <div class="form-group">                
                    <label class="col-sm-3 control-label">@ResourceKey("Settings.defaultthemefolder")</label>
                    	<div class="col-sm-5">
							@NBrightTextBox(info, "genxml/textbox/themefolder","","ClassicRazor")
                    	</div>
				    </div>
				<div class="form-group">
				    <label class="col-sm-3 control-label">@ResourceKey("Settings.emailthemefolder")</label>
				    <div class="col-sm-5">
				        	@NBrightTextBox(info, "genxml/textbox/emailthemefolder","","ClassicRazor")
				    </div>
				</div>
				<div class="form-group">
	                    <label class="col-sm-3 control-label">@ResourceKey("Settings.cataloguemode")</label>
                    	<div class="col-sm-5">
				    <div class="dnnFormItem">
                            @CheckBox(info, "genxml/checkbox/cataloguemode", "")
							</div>
                    	</div>
                    </div>
	                <div class="form-group">
	                    <label class="col-sm-3 control-label">@ResourceKey("Settings.pageactions")</label>
				        <div class="col-sm-5">
				            <div class="dnnFormItem">
                                @CheckBox(info, "genxml/checkbox/pageactions", "")
				            </div>
				        </div>
				    </div>
	                <div class="form-group">
	                    <label class="col-sm-3 control-label">@ResourceKey("Settings.devoptions")</label>
				        <div class="col-sm-5">
				            <div class="dnnFormItem">
                                @CheckBox(info, "genxml/checkbox/devoptions", "")
				            </div>
				        </div>
				    </div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("General.DebugMode")</label>
						<div class="col-sm-5">
							<div class="dnnFormItem">
                                @CheckBox(info, "genxml/checkbox/debug.mode", "")@ResourceKey("Settings.debugmode")
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.debugfileout")</label>
						<div class="col-sm-5">
							<div class="dnnFormItem">
                                @CheckBox(info, "genxml/checkbox/debugfileout", "")@ResourceKey("Settings.debugfileoutmsg")
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.storagetypeclient")</label>
						<div class="col-sm-5">
							[<tag id="storagetypeclient" cssclass="form-control" type="dropdownlist" data="Cookie;SessionMemory" />]
						</div>
					</div>
    			    <div class="form-group">                
                    	<label class="col-sm-3 control-label">@ResourceKey("General.AdminPin")</label><!-- Need to move this -->
                    	<div class="col-sm-2">
							@NBrightTextBox(info, "genxml/textbox/adminpin","","1234")
                    	</div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-3 control-label">@ResourceKey("Settings.enabledealer")</label>
				        <div class="col-sm-5">
				            <div class="dnnFormItem">
                                @CheckBox(info, "genxml/checkbox/enabledealer", "")
				            </div>
				        </div>
				    </div>
    			    <div class="form-group">                
                    	<label class="col-sm-3 control-label">@ResourceKey("Settings.orderprefix")</label>
                    	<div class="col-sm-2">
							@NBrightTextBox(info, "genxml/textbox/orderprefix")
                    	</div>
				    </div>                    
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.fontawesome")</label>
						<div class="col-sm-5">
							<div class="dnnFormItem">
                                @CheckBox(info, "genxml/checkbox/fontawesome", "", "", true)
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.jqueryuicss")</label>
						<div class="col-sm-5">
							<div class="dnnFormItem">
                                @CheckBox(info, "genxml/checkbox/jqueryuicss", "", "", true)
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.jqueryuijs")</label>
						<div class="col-sm-5">
							<div class="dnnFormItem">
                                @CheckBox(info, "genxml/checkbox/jqueryuijs", "", "", true)
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.copyorderto")</label>
						<div class="col-sm-5">
							<div class="dnnFormItem">
                                @CheckBox(info, "genxml/checkbox/copyorderto", "", "", true)
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.subscribenewsletter")</label>
						<div class="col-sm-5">
							<div class="dnnFormItem">
                                @CheckBox(info, "genxml/checkbox/subscribenewsletter", "", "", true)
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.checkoutpromocode")</label>
						<div class="col-sm-5">
							<div class="dnnFormItem">
                                @CheckBox(info, "genxml/checkbox/checkoutpromocode", "", "", true)
						</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.checkouttaxcode")</label>
						<div class="col-sm-5">
							<div class="dnnFormItem">
                                @CheckBox(info, "genxml/checkbox/checkouttaxcode", "","",true)
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.carttitle")</label>
						<div class="col-sm-5">
							<div class="dnnFormItem">
                                @CheckBox(info, "genxml/checkbox/carttitle", "", "", true)
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">@ResourceKey("Settings.cartsteps")</label>
						<div class="col-sm-5">
							<div class="dnnFormItem">
                                @CheckBox(info, "genxml/checkbox/cartsteps", "", "", true)
							</div>
						</div>
					</div>
    			    <div class="form-group">                
                    	<label class="col-sm-3 control-label">@ResourceKey("Settings.productimageresize")</label>
                    	<div class="col-sm-2">
							@NBrightTextBox(info, "genxml/textbox/productimageresize","","800")
                    	</div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-3 control-label">@ResourceKey("Settings.shareproducts")</label>
				        <div class="col-sm-5">
				            <div class="dnnFormItem">
                                @CheckBox(info, "genxml/checkbox/shareproducts", "", "", false)
                                @ResourceKey("Settings.shareproductsmsg")
				            </div>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-3 control-label">@ResourceKey("Settings.alloweditorder")</label>
				        <div class="col-sm-5">
				            <div class="dnnFormItem">
                                @CheckBox(info, "genxml/checkbox/alloweditorder", "")
			            </div>
				        </div>
				    </div>
				    <div class="form-group">
				        <label class="col-sm-3 control-label">@ResourceKey("Settings.friendlyurlids")</label>
				        <div class="col-sm-5">
				            <div class="dnnFormItem">
                                @CheckBox(info, "genxml/checkbox/friendlyurlids", "")
				            </div>
				        </div>
				    </div>
    			    <div class="form-group">                
                    	<label class="col-sm-3 control-label">@ResourceKey("Settings.bonoimageicon")</label>
                    	<div class="col-sm-3">
							@NBrightTextBox(info, "genxml/textbox/bonoimageicon")
                    	    <script type="text/javascript">
							$(document).ready(function() {
							                if ($('input[id*="bonoimageicon"]').val() == '') $('input[id*="bonoimageicon"]').val('<i class="fa fa-picture-o fa-5x"></i>');
							});
							</script>
                    	</div>
				    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">@ResourceKey("Settings.boclass")</label>
                        <div class="col-sm-3">
							@NBrightTextBox(info, "genxml/textbox/boclass")
                            <script type="text/javascript">
							$(document).ready(function() {
							    if ($('input[id*="boclass"]').val() == '') $('input[id*="boclass"]').val('nbstore');
							});
                            </script>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box culturesettings no-drop">
		    <div class="box-header">
		        <div class="box-name">
		            <i class="fa fa-search"></i><span>@ResourceKey("Settings.countrydetails")</span>
		        </div>
		        <div class="box-icons">
		            <a class="collapse-link"><i class="fa fa-chevron-down"></i>
		            </a><a class="expand-link"><i class="fa fa-expand"></i></a>
		            <a class="close-link"><i class="fa fa-times"></i></a></div>
		        <div class="no-move">
		        </div>
		    </div>
		
		    <div class="box-content">
		        <div class="form-horizontal dnnForm">
		            <div class="form-group">
		                <label class="col-sm-3 control-label">@ResourceKey("Settings.merchantculture")</label>
		                <div class="col-sm-5">[<tag id="merchantculturecode" cssclass="s2_with_tag populate placeholder" type="culturecodedropdown"/>]
		                </div>
		            </div>
		            <div class="form-group">
		                <label class="col-sm-3 control-label">@ResourceKey("Settings.currencycode")</label>
		                <div class="col-sm-5">[<tag id="currencyculturecode" cssclass="s2_with_tag populate placeholder" type="culturecodedropdown"/>]
		                </div>
		            </div>
		            <div class="form-group">
		                <label class="col-sm-3 control-label">@ResourceKey("Settings.currencysymbol")</label>
		                <div class="col-sm-2">
							@NBrightTextBox(info, "genxml/textbox/currencysymbol","","$")
		                </div>
		            </div>
		        </div>
		        <div class="form-horizontal dnnForm countrylist">
		            <div class="form-group">
		                <div class="col-sm-3 eurocountries">
		                    <p class="page-header">@ResourceKey("Settings.commoncountries")</p>
		                </div>
		                <div class="col-sm-6">
		                    <p class="page-header">@ResourceKey("Settings.selectedcountries")</p>[<tag type="countrylist" id="countrylist"/>]
		                </div>
		            </div>

		        </div>
		        <div class="form-horizontal dnnForm countryselection">
		            <p class="page-header">@ResourceKey("Settings.othercountries") <input type="checkbox" class="checkAll" /> @ResourceKey("Settings.checkall")</p>
		            [<tag id="countrycodelist" type="dnn:countrycheckboxlist" RepeatColumns="4"/>]
		        </div>
		    </div>
		</div>
	</div>
</div>


