@using NBrightDNN
@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")


<div id="loader" class="processing" style="display:none;">@ResourceKey("General.ProcessingDiv")</div>

<div id="pageactionssource">
    <!-- Page actions are moved into header bar - also exist at page bottom-->
    <div class="col-xs-9 col-sm-9">
        <a href="#" class="show-sidebar">
            <i class="fa fa-bars"></i>
        </a>
        <div class="actionbuttonwrapper">
            <a id="OrderAdmin_cmdExport" class="btn btn-primary primarybutton" href="#">@ResourceKey("General.Export")</a>
            <a id="OrderAdmin_cmdSave" style="display: none;" class="btn btn-primary primarybutton OrderAdmin_cmdSave " href="#">@ResourceKey("General.cmdSaveButton")</a>
            <a id="OrderAdmin_cmdReturn" style="display: none;" class="btn btn-default primarydefault" href="#">@ResourceKey("OrderAdmin.cmdReturnButton")</a>
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 top-panel-right">
        @EditCultureSelect("editlanguage", "selecteditlanguage")
    </div>
</div>


<div id="datadisplay"></div>

