@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>
@using NBrightDNN

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")

<div id="loader" class="processing" style="display:none;">@ResourceKey("General.ProcessingDiv")</div>

<div id="pageactionssource">
    <!-- Page actions are moved into header bar - also exist at page bottom-->
    <div class="col-xs-9 col-sm-9">
        <a href="#" class="show-sidebar">
            <i class="fa fa-bars"></i>
        </a>
        <div class="actionbuttonwrapper">
            <a id="productAdmin_cmdSave" style="display: none;" class="btn btn-primary primarybutton" href="#">@ResourceKey("General.cmdSaveButton")</a>
            <a id="productAdmin_cmdReturn" style="display: none;" class="btn btn-default primarydefault" href="#">@ResourceKey("General.cmdReturnButton")</a>
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 top-panel-right">
        @EditLangaugeButton()
    </div>
</div>

<script>
    
    $('.selectlang').unbind("click");
    $(".selectlang").click(function () {
        $("#editlang").val($(this).attr("editlang"));
        if ($("#razortemplate").val() == 'Admin_ProductsDetail.cshtml') {
            nbxget('product_admin_getdetail', '#nbs_productadminsearch', '#datadisplay');
        } else {
            nbxget('product_admin_getlist', '#nbs_productadminsearch', '#datadisplay');
        }
    });


</script>

<div id="datadisplay"></div>

