@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightRazor>
@using System.Linq
@using DotNetNuke.Entities.Users
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components;

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")

<!-- "pageheaderdetail.cshtml" template will be auto injected as dynamic data into page head section -->
@{
    // assign Model, so we can resolve var in VS
    var product = (ProductData) Model.List.First();
    var info = (NBrightInfo) product.Info;
}

<!-- This template is injected into the details page head section -->
<script type="text/javascript" src="/DesktopModules/NBright/NBrightBuy/Themes/config/js/nbbajax.js"></script>

<!-- SEO name field test to cover all services Combined to reduce the number of tests needed -->
<meta property="og:title" content="@PropertyValue(product,"man","propertyname") @(product.ProductName)"/>
<meta name="twitter:title" content="@PropertyValue(product,"man","propertyname") @(product.SEOName)"/>
<meta itemprop="name" content="@PropertyValue(product,"man","propertyname") @(product.SEOName)"/>

<!-- Open Graph data for Facebook - Title and Type are required - https://developers.facebook.com/docs/reference/opengraph/object-type/object -->
<meta property="og:description" content="@BreakOf(info, "genxml/lang/genxml/textbox/txtsummary")"/>
    @if (product.Imgs.Count > 0)
    {
        <meta property="og:image" content="http://@WebsiteUrl()@product.Imgs.First().GetXmlProperty(" genxml/hidden/imageurl")"/>
    }
<meta property="og:url" content="@EntryUrl(info,Model,false,product.SEOName)"/>
<meta property="og:site_name" content="@Model.GetSetting("portalname")"/>
<meta property="og:type" content="@Model.GetSetting("ogobjecttype")"/>
<meta property="og:price:amount" content="@product.FromPrice()"/>
<meta property="og:price:currency" content="@(NBrightBuyUtils.GetCurrencyIsoCode())"/>

<!-- Facebook id number for Page Insights - https://www.facebook.com/help/336893449723054 -->
<meta property="fb:admins" content="[Settings:facebookid]"/>

<!-- Twitter Card - https://dev.twitter.com/docs/cards -->
<meta name="twitter:card" content="product"/>
<meta name="twitter:site" content="@Model.GetSetting("twittersite")"/>
<meta name="twitter:creator" content="@Model.GetSetting("twitteruser")"/>
<meta name="twitter:domain" content="@WebsiteUrl()"/>
<meta name="twitter:description" content="@product.SEODescription"/> 
@if (product.Imgs.Count > 0)
{
    <meta name="twitter:image" content="http://@WebsiteUrl()@product.Imgs.First().GetXmlProperty(" genxml/hidden/imageurl")"/>
}
<meta name="twitter:label1" content="@ResourceKey("ProductView.price")"/><!-- need to fix this to just get the label, no spans -->
<meta name="twitter:data1" content="@product.FromPrice()"/>
<meta name="twitter:label2" content=""/>
<meta name="twitter:data2" content=""/>

<!-- Google Plus -->
<meta itemprop="description" content="@product.SEODescription"/>
@if (product.Imgs.Count > 0)
{
    <meta itemprop="image" content="http://@WebsiteUrl()@product.Imgs.First().GetXmlProperty(" genxml/hidden/imageurl")" />
}

<script type="text/javascript" src="/DesktopModules/NBright/NBrightBuy/Themes/ClassicAjax/js/product.js"></script>
<script src="/DesktopModules/NBright/NBrightBuy/Themes/ClassicAjax/js/jquery.cookie.min.js"></script>

<!-- Colorbox Lightbox -->
<script type="text/javascript" src="/DesktopModules/NBright/NBrightBuy/Themes/ClassicAjax/js/jquery.colorbox-min.js"></script>
<link href="/DesktopModules/NBright/NBrightBuy/Themes/ClassicAjax/css/colorbox.css" rel="stylesheet">

<div id="nbs_productajaxview" style="display: none;">
    <!-- Parameter fields -->
    <!-- These fields will be initialized from the _head.cshtml -->
    <input id="userid" type="hidden" value="@UserController.Instance.GetCurrentUserInfo().UserID" />
    <input id="moduleid" type="hidden" value="@Model.ModuleId" />
    <input id="tabid" type="hidden" value="@Model.GetUrlParam("tabid")" />
    <input id="editlang" type="hidden" value="@Model.Lang" />
    <input id="uilang" type="hidden" value="@Model.Lang" />
    <input id="catid" type="hidden" value="@Model.GetUrlParam("catid")" />
    <input id="catref" type="hidden" value="@Model.GetUrlParam("catref")" />

    <input id="modkey" type="hidden" value="@Model.ModuleRef" />
    <input id="pagemid" type="hidden" value="" />
    <input id="page" type="hidden" value="@Model.GetUrlParam("page")" />
    <input id="pagesize" type="hidden" value="@Model.Settings["pagesize"]" />
    <input id="orderby" type="hidden" value="" />
    <input id="entitytypecode" type="hidden" value="@Model.GetSetting("entitytypecode")" />

    <input id="themefolder" type="hidden" value="@Model.GetSetting("themefolder")" />

    <input id="propertyfilter" type="hidden" value="" />

    <!-- this one will be set from the filter list set by JS from filter head fields. -->
    <input id="propertyfiltertypeinside" type="hidden" value="" />
    <input id="propertyfiltertypeoutside" type="hidden" value="" />

    <!-- use this to pass itemid that need to be added to favorite/shop list. -->
    <input id="shopitemid" type="hidden" value="@Model.GetUrlParam("shopitemid")" />
    <input id="shoplistname" type="hidden" value="" />
    <input id="shopredirectflag" type="hidden" value="" />

</div>

<input id="logintab" type="hidden" value="@(StoreSettings.Current.Get("logintab"))" />

<!-- Shopping List Popup -->
<div style="display: none">
    <div id="shoppinglistpopup" class="shoppinglistpopup">
    </div>
</div>
