@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightRazor>
@using System
@using System.Linq
@using System.Web
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components;

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/Themes/Wiseopro/resx")

@AddPreProcessMetaData("itemlistname", Model.GetSetting("itemlistname"), Model.FullTemplateName, Model.ModuleId.ToString())

<!-- Show category details -->
<div class="categorydetails">
<h2>@ResourceKey("ProductView.favorites")</h2>
</div>

    @RenderTemplate("\\DesktopModules\\NBright\\NBrightBuy\\Themes\\ClassicAjax\\Default\\NBS_ProductDisplayList.cshtml",Model)

<div>
    <a class="wishlistremoveall" listname="@(Model.GetSetting("itemlistname"))">@ResourceKey("ProductView.wishlistclearallicon-lg")</a>
</div>

<!-- return area for ajax data -->
<div id="datareturn" style="display:none;"></div>
