@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>
@using DotNetNuke.Entities.Users
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/Themes/ClassicAjax/resx")

@{
    // assign Model, so we can resolve var in VS
    var order = (OrderData)Model.List.First();
    var info = order.PurchaseInfo;
}

<div class="nbs paymentcomplete">

<div class="formrow">
<h3>@ResourceKey("CartView.PaymentComplete")</h3>
<p>@BreakOf(ResourceKey("Notification.checkoutsuccessmessage"))</p>
</div>

<div class="formrow">
<b>@ResourceKey("OrderAdmin.ordernumber"):</b> @info.GetXmlProperty("genxml/ordernumber")
</div>

    @if (UserController.Instance.GetCurrentUserInfo().UserID > 0)
    {
        <div class="formrow">
            <a class="primarybutton" href="/tabid/@(Model.GetSetting("ordermanagertab"))/eid/@(info.ItemID)">@ResourceKey("CartView.ViewOrder")</a>
        </div>
    }
    else
    {
        <div class="formrow">
            <a class="primarybutton" href="/tabid/@(Model.GetSetting("productlisttab"))">@ResourceKey("CartView.returntostore")</a>
        </div>
    }


</div>