@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightRazor>
@using DotNetNuke.Entities.Portals
@using NBrightDNN
@using NBrightCore.common

<div id="ajaxfiltermodulesettings" style="display: none;">
    <input id="uilang" type="hidden" value="@Utils.GetCurrentCulture()" />
    <input id="themefolder" type="hidden" value="@Model.GetSetting("themefolder")" />
    <input id="providercontrolpath" type="hidden" value="@Model.GetSetting("providercontrolpath")" />
    <input id="razortemplate" type="hidden" value="@Model.GetSetting("razortemplate")" />
    <input id="filter_propertyfiltertypeinside" type="hidden" value="@Model.GetSetting("filtertypeinsideproperty")" />
    <input id="filter_propertyfiltertypeoutside" type="hidden" value="@Model.GetSetting("filtertypeoutsideproperty")" />
    <input id="filter_catid" type="hidden" value="@Model.GetUrlParam("catid")" />
    <input id="filter_catref" type="hidden" value="@Model.GetUrlParam("catref")" />
    <input id="portalId" type="hidden" value="@PortalSettings.Current.PortalId" />
    <input id="moduleid" type="hidden" value="@Model.ModuleId" />
</div>
