[<tag id="resourcepath" type="meta" value="/DesktopModules/NBright/NBrightBuy/Providers/PromoProvider/App_LocalResources/" />]
[<tag id="resourcepath" type="meta" value="/DesktopModules/NBright/NBrightBuy/App_LocalResources/" />]

<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="box">
			<div class="box-content">
				<table class="table table-striped table-hover table-responsive">
					<thead>
						<tr style="width:100%">
							<th>[<tag type="valueof" resourcekey="DiscountCodes.code"/>]</th>
							<th>[<tag type="valueof" resourcekey="DiscountCodes.name"/>]</th>
							<th>[<tag type="valueof" resourcekey="DiscountCodes.amount"/>]</th>
							<th>[<tag type="valueof" resourcekey="DiscountCodes.validuntil"/>]</th>
							<th>[<tag type="valueof" resourcekey="DiscountCodes.usagelimit"/>]</th>
							<th>[<tag type="valueof" resourcekey="DiscountCodes.usage"/>]</th>
							<th>[<tag type="valueof" resourcekey="DiscountCodes.disabled"/>]</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
					@foreach (var x in @Model)
					{
                        // dummy record inject for empty list
                        if (@x.ItemID > 0 )
                        {
                             <tr>
                                 <td>@x.GetXmlProperty("genxml/textbox/code")</td>
                                 <td>@x.GetXmlProperty("genxml/textbox/name")</td>
                                 <td>@x.GetXmlProperty("genxml/textbox/amount")
                                     @if ((@x.GetXmlProperty("genxml/radiobuttonlist/amounttype") == "2"))
                                     {
                                        <span> %</span>
                                     }
                                 </td>
                                 <td>@x.GetXmlProperty("genxml/textbox/validuntil")</td>
                                 <td>@x.GetXmlProperty("genxml/textbox/usagelimit")</td>
                                 <td>@x.GetXmlProperty("genxml/textbox/usage")</td>
                                 <td>@{var i = "fa-circle"; if (x.GetXmlPropertyBool("genxml/checkbox/disabled")) { i = "fa-check-circle";}}
                                     <i class="fa  @i fa-2x"></i>
                                 </td>
                                 <td><span class="edititem" itemid="@x.ItemID">[<tag type="htmlof" resourcekey="General.cmdEditIcon" />]</span></td>
                             </tr>
                         }
					}

					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>