@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightDNN.NBrightRazor>
@using System.Net
@using DotNetNuke.Common
@using NBrightCore.common
@using Nevoweb.DNN.NBrightBuy.Components

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/Themes/classicrazor/resx")

<!-- fields required to send required ajax cart to server -->
<span id="fullcartdata" style="display: none;">
    <input id="itemcode" value="" type="hidden" /> 
    <input id="carttemplate" type="hidden" value="NBS_FullCartList.cshtml">
    <input id="carttheme" type="hidden" value="ClassicRazor">
    <input id="lang" type="hidden" value="@Utils.GetCurrentCulture()">
</span>

<!-- return area for ajax data -->
<div id="fullcartdatareturn" style="display:none;"></div>
<div id="fullcartredirectreturn" style="display:none;"></div>

<script type="text/javascript">

    $(document).ready(function() {

        $('#cmdDeleteCart').click(function () {
            var msg = '@ResourceKey("CartView.cmdClearCart", "", "confirm")';
            if (confirm(msg)) {
                $('.processing').show();
                nbxget('clearcart', '#fullcartdata', '#fullcartdatareturn');
            }
        });

        $('#cmdRecalcCart').click(function () {
            $('.processing').show();
            nbxget('recalculatecart', '.cartdatarow', '#fullcartdatareturn', '.quantitycolumn');
        });

        $('#cmdGoCheckout').click(function () {
            $('.processing').show();
            nbxget('recalculatecart', '.cartdatarow', '#fullcartredirectreturn', '.quantitycolumn');
        });

        // Ajax action return, reload cart list
        $('#fullcartdatareturn').change(function () {
            nbxget('rendercart', '#fullcartdata', '#checkoutitemlist');
        });

        // Ajax redirect action return, redirect to checkout
        $('#fullcartredirectreturn').change(function () {
            $('.processing').show();
            var redirecturl = '@(Globals.NavigateURL(Model.GetSettingInt("checkouttabid")))';
            window.location.href = redirecturl + '?cartstep=2';
        });

        // cart list loaded
        $('#checkoutitemlist').change(function () {
            // Create UI spinner for quantity fields http://api.jqueryui.com/spinner/
            $(".quantity").spinner({ min: 0, numberFormat: "n", step: 1 });

            $('.removeitem').unbind();
            $('.removeitem').click(function () {
                $('.processing').show();
                $('#itemcode').val($(this).attr('itemcode'));
                nbxget('removefromcart', '#fullcartdata', '#fullcartdatareturn');
            });

            $('.processing').hide();

            // if we have a cartempty element hide the action buttons
            if ($('#cartempty').text() != '') {
                $('#cartdetails').hide();
            } else {
                $('#cartdetails').show();
            }

        });

        // show cart list
        $('.processing').show();
        nbxget('rendercart', '#fullcartdata', '#checkoutitemlist');

    });

</script>

