@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightRazor>
@using System.Linq
@using System.Text
@using System.Web
@using System.Web.Razor.Parser
@using System.Web.Razor.Parser.SyntaxTree
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components;

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/Themes/classicrazor/resx")

@{
    // assign Model, so we can resolve var in VS
    var cart = (CartData)Model.List.First();
    var info = cart.PurchaseInfo;
}

<div class="minicart">
    @if (info.GetXmlPropertyDouble("genxml/totalqty") > 0)
    {
       <a href="/tabid/@Model.GetSetting("carttab")/Default.aspx">@ResourceKey("General.basket") (@info.GetXmlPropertyDouble("genxml/totalqty"))</a>
    }
    else
    {
        @ResourceKey("General.txtemptybasket")
    }
</div>
<div class="clearfix"></div>
