@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightRazor>
@using System.Linq
@using System.Text
@using System.Web
@using System.Web.Razor.Parser
@using System.Web.Razor.Parser.SyntaxTree
@using System.Xml
@using DotNetNuke.Common
@using DotNetNuke.Entities.Users
@using NBrightCore
@using NBrightCore.common
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components;

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/Themes/classicrazor/resx")

@{
    // assign Model, so we can resolve var in VS
    var cart = (CartData)Model.List.First();
    var info = cart.PurchaseInfo;
}

<!-- hidden field used by shipping provders -->
<input id="shippingproductcode" update="save" value="" type="hidden" />
<input id="pickuppointref" update="save" value="" type="hidden" />
<input id="pickuppointaddr" update="save" value="" type="hidden" />

@if (Model.GetSettingBool("carttitle"))
{
    <h1>@ResourceKey("CartView.YourBasket")</h1>
}
@if (Model.GetSettingBool("cartsteps"))
{
    <div class="checkoutsteps">
        <div class="checkoutstepsheader">@ResourceKey("CartView.CartstepsProcess")</div>
        <ol>
            <li class="step1">@ResourceKey("CartView.CartstepsRecap")</li>
            <li class="step2">@ResourceKey("CartView.CartstepsAddresses")</li>
            <li class="step3 activestep">@ResourceKey("CartView.CartstepsShipping")</li>
            <li class="step4">@ResourceKey("CartView.CartstepsPayment")</li>
            <li class="step5">@ResourceKey("CartView.CartstepsConfirm")</li>
        </ol>
    </div>
}


<!-- Shipping methods  -->
    <div id="shippingmethods">
        <div class="formrow">
            <h3>@ResourceKey("General.shippingmethods")</h3>
            <div id="providerselection">
                @ShippingProviderList(info, "class='shippingmethodselect'")
            </div>
            <div id="shipprovidertemplates"></div>
        </div>
    </div>

