@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightRazor>
@using System.Linq;
@using DotNetNuke.Common;
@using DotNetNuke.Entities.Users;
@using NBrightCore;
@using NBrightCore.common;
@using NBrightDNN;
@using Nevoweb.DNN.NBrightBuy.Components;

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/Themes/classicrazor/resx")

@{
// assign Model, so we can resolve var in VS
var info = (NBrightInfo)Model.List.First();
}

<div class="nbs myprofile">

        <!-- Client Menu -->
        <h1>@ResourceKey("Clients.ClientmenuTitle")</h1>
        <div class="clientmenu">
            <div class="clientmenuheader">@ResourceKey("Clients.ClientmenuManage")</div>

            <div>
                @if (Model.GetSettingBool("enablemyprofile"))
                {
                    var profiletabid = Model.GetSetting("profiletab");
                    <a class="btn btn-primary" href="/tabid/@(profiletabid)"><i class="fa fa-user fa-lg"></i>@ResourceKey("Clients.ClientmenuProfile")</a>
                }
                @if (Model.GetSettingBool("enablemyaddress"))
                {
                    var addressestabid = Model.GetSetting("addressestab");
                    <a class="btn btn-default" href="/tabid/@(addressestabid)"><i class="fa fa-book fa-lg"></i>@ResourceKey("Clients.ClientmenuAddresses")</a>
                }
                @if (Model.GetSettingBool("enablemyorders"))
                {
                    var ordermanagertabid = Model.GetSetting("ordermanagertab");
                    <a class="btn btn-default" href="/tabid/@(ordermanagertabid)"><i class="fa fa-shopping-cart fa-lg"></i>@ResourceKey("Clients.ClientmenuOrders")</a>
                }
            </div>

        </div>

        <!-- This function not ready yet -->

        <div id="profileinputform">

            <div class="updatedform" style="display:none;"><span>@ResourceKey("General.updated")</span></div>

            <div id="profileinput" class="panel">



                <div class="formrow">
                    <div class="leftside">
                        <h6>@ResourceKey("General.lblFirstName")</h6>
                        @NBrightTextBox(info, "genxml/textbox/firstname")
                    </div>
                    <div class="rightside">
                        <h6>@ResourceKey("General.lblLastName")</h6>
                        @NBrightTextBox(info, "genxml/textbox/lastname")
                    </div>
                </div>

                <div class="formrow">
                    <div class="leftside">
                        <h6>@ResourceKey("General.lblPhone")</h6>
                        @NBrightTextBox(info, "genxml/textbox/telephone")
                    </div>
                    <div class="rightside">
                        <h6>@ResourceKey("General.Email")</h6>
                        @NBrightTextBox(info, "genxml/textbox/email", "required name='profileemail' class='required' type='email' datatype='email'")
                    </div>
                </div>

                <div class="formrow">
                    <h6>@ResourceKey("General.lblCompany")</h6>
                    @NBrightTextBox(info, "genxml/textbox/company")
                </div>

                <div class="formrow">
                    <h6>@ResourceKey("General.lblAddress1")</h6>
                    @NBrightTextBox(info, "genxml/textbox/unit")
                </div>

                <div class="formrow">
                    <h6>@ResourceKey("General.lblAddress2")</h6>
                    @NBrightTextBox(info, "genxml/textbox/street")
                </div>

                <div class="formrow">
                    <div class="leftside">
                        <h6>@ResourceKey("General.lblCity")</h6>
                        @NBrightTextBox(info, "genxml/textbox/city")
                    </div>
                    <div class="rightside">
                        <h6>@ResourceKey("General.lblPostCode")</h6>
                        @NBrightTextBox(info, "genxml/textbox/postalcode", "")
                    </div>
                </div>

                <div class="formrow">
                    <div class="leftside profileformcountrydiv">
                        <h6>@ResourceKey("General.lblCountry")</h6>
                        @CountrySelectList(info, "genxml/dropdownlist/country", "class='profileformcountry'")
                        <!-- hidden data field required to render ajax region update -->
                        <input id="carttemplate" type="hidden" value="NBS_CheckoutRegion.cshtml">
                        <input id="carttheme" type="hidden" value="classicrazor">
                        <input id="lang" type="hidden" value="@Utils.GetCurrentCulture()">
                        <input id="region" type="hidden" value="@info.GetXmlProperty("genxml/dropdownlist/region")">
                        <input id="xpath" type="hidden" value="genxml/dropdownlist/region">
                    </div>
                    <div class="rightside profileformregiondiv">
                        <h6>@ResourceKey("General.lblRegion")</h6>
                        @RegionSelect(info, "genxml/dropdownlist/region", "", "")
                    </div>
                </div>



            </div>

            <div style="clear:both"></div>

        </div>
    </div>


<div class="formrow">
    <a href="javascript:void(0)" class='profilesubmit'><i class="fa fa-user fa-lg"></i>@ResourceKey("General.Submit")</a>
</div>

