@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightRazor>
@using NBrightDNN

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")
@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/Themes/gastonmercier/resx")


    <div id="cartlist" style="">

        <div id="loader" class="processing" style="display:none"><i class="fa fa-cog fa-spin fa-4x"></i></div>

        <div id="checkoutitemlist"></div>

        <div id="cartdetails" class="nbs dnnform" style="display: none;">

            <div style="clear: both;">
                <a href="javascript:void(0)" id="cmdDeleteCart" class="secondarybutton clearcart">@ResourceKey("CartView.cmdClearCart")</a>
                <a href="javascript:void(0)" id="cmdRecalcCart" class="secondarybutton recalculatecart">@ResourceKey("CartView.UpdateCart")</a>
                <a href="javascript:void(0)" id="cmdGoCheckout" class="primarybutton">@ResourceKey("CartView.Next")</a>
            </div>

        </div>

    </div>
