@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightRazor>
@using System
@using System.Collections.Generic
@using System.Linq
@using System.Web
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components;

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")

<span>
    <input id="productid" type="hidden" value="">
</span>

<!-- Show category details -->
<div class="categorydetails">
<h2>@ResourceKey("ProductView.favorites")</h2>
</div>

<div>
    @if (Model.Settings.ContainsKey("listkeys"))
    {
        var listarray = Model.Settings["listkeys"].Split('*');
        var itemlist = Model.List;

        foreach (var listkey in listarray)
        {
            var newlist = new List<object>();
            if (listkey != "")
            {
                foreach (NBrightInfo i in itemlist)
                {
                    if (i.GetXmlProperty("genxml/listkey") == listkey)
                    {
                        newlist.Add(i);
                    }
                }
                Model.List = newlist;
                <div>
                    <h3>
                        @listkey
                    <a class="wishlistremoveall" listkey="@(listkey)">@ResourceKey("ProductView.wishlistclearallicon-lg")</a>
                </h3>
                </div>

                @RenderTemplate("\\DesktopModules\\NBright\\NBrightBuy\\Themes\\ClassicRazor\\Default\\NBS_ProductDisplayListBody.cshtml", Model);

            }
        }
    }
    else
    {
        <div>No Favorite Lists founds</div>
    }
</div>

    
    <!-- return area for ajax data -->
    <div id="datareturn" style="display:none;"></div>
