@inherits NBrightBuy.render.NBrightBuyRazorTokens<NBrightRazor>
@using System.Linq
@using System.Web
@using System.Xml
@using NBrightDNN
@using Nevoweb.DNN.NBrightBuy.Components;

@AddMetaData("resourcepath", "/DesktopModules/NBright/NBrightBuy/App_LocalResources/")


<div class="slp-header">Mes listes de produits</div>
<div class="slp-content">
    @ResourceKey("General.listtitle")   
    <div class="slp-ddl">
        <select class="shoplistselect">

            @{
                var info = (NBrightInfo) Model.List.First();
                var itemlists = info.XMLDoc.SelectSingleNode("genxml/listkeys");
                if (itemlists != null)
                {
                    var arrayitemlists = itemlists.InnerText.Split('*');
                    foreach (string itemlist in arrayitemlists)
                    {
                        if (itemlist != "")
                        {

                            var itemname = itemlist;
                            if (info.XMLDoc.SelectSingleNode("genxml/list/" + itemlist) != null)
                            {
                                itemname = info.XMLDoc.SelectSingleNode("genxml/list/" + itemlist).InnerText;
                            }
                            <option value="@itemlist">@itemname</option>
                        }
                    }
                }

            }

            <option value="-1">@ResourceKey("General.createnewlist")</option>
        </select>
        <a class="wishlistadd">@ResourceKey("ProductView.wishlistaddicon-lg")</a>
        <div style="display: none;" class="newlistdiv">
            <input type="text" class="newlisttext" value="New List"/>
            <a class="addnewlist">
                @ResourceKey("ProductView.addicon")
            </a>
            <a class="cancelnewlist">
                @ResourceKey("ProductView.cancelicon")
            </a>
        </div>
    </div>
</div>
